torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
transformers==4.31.0
tokenizers>=0.12.1,<0.14
sentencepiece==0.1.99
numpy==1.23.5
scikit-learn==1.2.2
gradio==3.35.2
gdown
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
Pillow==9.4.0
altair
bitsandbytes==0.41.0
cityscapesscripts
diffdist
diffusers==0.11.1
fvcore
ftfy
gradio_client==0.2.9
httpx==0.24.0
invisible-watermark
json_tricks
kornia==0.6.4
mup
nltk
omegaconf==2.3.0
opencv-python==4.7.0.72
open-clip-torch==2.19.0
openai==0.27.0
pandas==2.0.1
peft==0.4.0
pyarrow
pycocotools==2.0.4
PyYAML==6.0
regex
requests
scann
scikit-image
sentence-transformers==2.2.2
shapely
shortuuid
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
tensorboard==2.13.0
tensorboard-data-server==0.7.0
torchmetrics==0.6.0
tornado==6.3.1
tqdm
uvicorn
vision-datasets==0.2.2
wandb==0.15.0
webdataset==0.2.48
yacs
zipp==3.14.0
-e git+https://github.com/arogozhnikov/einops.git@5e6674c573e20b3a1fa733621c16df0dc56dff2a#egg=einops
-e git+https://github.com/MaureenZOU/detectron2-xyz.git@42121d75e10d9f858f3a91b6a39f5722c02868f0#egg=detectron2
-e git+https://github.com/openai/whisper.git#egg=whisper

